@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar {
  background-color: #001457 !important;
}
.link {
  margin-top: 10px;
  font-size: large;
  font-weight: 600;
  display: inline;
  float: right;
}
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}
.dropdown-content a:hover {background-color: #ddd;
  list-style-type: none;}
.dropdown-content a {
  text-align: center;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  text-align: center;
  margin-top:65px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}
/* @media (min-width: 992px) { */
  .link {
    margin-left: 1em;
    margin-right: 1em;
  }
  .ml-2 {
    margin-left: 1em;
  }
  .ml-1 {
    margin-left: 3em;
  }
  .app-name {
    font-weight: 500;
    font-size: xx-large;
    font-family: 'Dancing Script';
    margin-left: 2em;
  }
  .about-us,
  .contact {
    margin-left: 1em;
  }
  .contact{
    margin-right: 25em;
  }

  /* .dd{
    color: #000000;
    background-color: #b2ecfd;
  } */
