.title {
  text-align: center;
  margin-top: -3rem;
  font-family: "Abel", sans-serif;
  background-color: #001457;
  color: white;
  border-radius: 10px;
  font-size: xx-large;
  width: 12rem;
}
.btn {
  margin-top: 5px;
  background-color: #001457;
}
.box {
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 30%);
  border-radius: 10px;
}
.rowx {
  justify-content: center;
}
